<%= form_with(model: friend) do |form| %>
  <% if friend.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(friend.errors.count, "error") %> prohibited this friend from being saved:</h2>

      <ul>
        <% friend.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<form>
  <div class="mb-3">
  <div class="form-label">
    <%= form.label :first_name, style: "display: block" %>
    <%= form.text_field :first_name, class:"form-text" %>
  </div>

  <div class="form-label">
    <%= form.label :last_name, style: "display: block" %>
    <%= form.text_field :last_name, class:"form-text" %>
  </div>

  <div class="form-label">
    <%= form.label :email, style: "display: block" %>
    <%= form.text_field :email, class:"form-text" %>
  </div>

  <div class="form-label">
    <%= form.label :phone, style: "display: block" %>
    <%= form.text_field :phone, class:"form-text" %>
  </div>

  <div class="form-label">
    <%= form.label :twitter, style: "display: block" %>
    <%= form.text_field :twitter, class:"form-text" %>
  </div>

  <div>
    <%= form.submit class:"btn btn-primary" %>
  </div>
</div>
</form>

<% end %>
